# Database
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://postgres:password@db:5432/app_management_production
SECRET_KEY_BASE=xxx

# Redis
REDIS_URL=redis://redis:6379/1

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Dev Auth Bypass
SKIP_AUTH=true

# Stripe
STRIPE_API_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# ActiveRecord Encryption
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=your-primary-key
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=your-deterministic-key
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=your-salt
